<div class="col-sm-4">

    <div class="pricing_table_column wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">

        <h3 class="small_heading_navy raleway">Basic</h3>

        <div class="price">

            <div class="row">

                <div class="col-xs-4">

                    <h2 class="open_sans font_400 pink_color"><span class="dollar raleway">$</span>19<br><span class="month raleway">Month</span></h2>

                </div>

                <div class="col-xs-8">

                    <p>It has survived not only five centuries, but also the leap into electronic.</p>

                </div>

            </div>

        </div>

        <ul class="packages">

            <li><i class="fa fa-check" aria-hidden="true"></i>Full access</li>

            <li><i class="fa fa-check" aria-hidden="true"></i>Unlimited Bandwidth</li>

            <li><i class="fa fa-check" aria-hidden="true"></i>Powerful Admin Panel</li>

            <li><i class="fa fa-check" aria-hidden="true"></i>Email Accounts</li>

            <li><i class="fa fa-check" aria-hidden="true"></i>8 Free Forks Every Months</li>

        </ul>

        <div class="pricing_button">

            <a href="#." class="bg_pink button button_default_style open_sans bg_before_navy">Buy Now</a>

        </div>

    </div>

</div>